<div class="scan-lines"></div>

<div class="main-container">
  <div class="glitch" data-text="sollenne">sollenne<span class="blinking-cursor">_</span></div>
  <div class="glow">sollenne<span class="blinking-cursor">_</span></div>

  <div class="divider">
  </div>

  <div class="icon-container">
    <a href="https://github.com/sollenne" target="_blank">
      <i class="fa-brands fa-2x fa-github-alt"></i>
    </a>

    <a href="https://www.linkedin.com/in/sollenne/" target="_blank">
      <i class="fa-brands fa-2x fa-linkedin-in"></i>
    </a>

    <a href="mailto:rich@sollenne.com" target="_blank">
      <i class="fa-solid fa-2x fa-comments"></i>
    </a>

  </div>
</div>

<router-outlet></router-outlet>

<div class="screen-bottom">
  <div class="line">
    <div class="red"></div>
    <div class="white"></div>
    <div class="green"></div>
  </div>
</div>